<ion-content padding>
    <ion-row>
        <ion-col col-12>
            <ion-list inset>
                <ion-item>
                    <ion-label>Add</ion-label>
                    <ion-select [(ngModel)]="selectedRole">
                        <ion-option value="{{role}}" *ngFor="let role of roles">{{role}}</ion-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12 text-center>
            <ion-icon name="camera" style="font-size: 15em"></ion-icon>
        </ion-col>
    </ion-row>
    <br />
    <ion-row>
        <button ion-button full (click)="scan()">Scan</button>
        <ion-label>{{scannedData | json}}</ion-label>
        <button ion-button full *ngIf="scannedData">Save</button>
    </ion-row>
</ion-content>